*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: #fff;
}

#logo{
    text-align: center;
    color: yellow;
}

.nav-bar{
  place-items: center;
  background-color: purple;
  
}

.nav-bar ul{
    list-style: none;
}

.nav-bar ul a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    
}

.nav-bar ul a:hover{
   background-color: yellow;
   color: #000;
}

.nav-bar ul a:active{
   background-color: yellow;
   color: #000;
}

#game-start{
    position: absolute;
    top: 15rem;
    left: 25rem;
}


#game-title{
    letter-spacing: 20px;
}

#first-span{
    color: lime;
}

#second-span{
    color: red;
}

#loading{
    color: lime;
}


#game-container{
    position: absolute;
    left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#button-container{
   position:absolute;

}

.buttons{
  position: absolute;
 
}

.videos{
    width: 90%;
    height: 100vh;
}

#startbutton{
    background-color: lime;
    top: 37em;
    right: 20em;
    padding: 1em 1em;
    border-radius: 1.3em;
    border: none;
    color: #000;
}

#style1-button{
    background-color: rgb(207, 78, 207);
    top: 40em;
    left: 19em;
    padding: 1em 1em;
    border-radius: 2em;
    border: none;

}

#style2-button{
    background-color: green;
    top: 35em;
    left: 19em;
    padding: 1em 1em;
    border-radius: 2em;
    border: none;

}


#style3-button{
    background-color: rgb(207, 78, 207);
    top: 37em;
    left: 23.5em;
    padding: 1em 1em;
    border-radius: 2em;
    border: none;

}

#style4-button{
    background-color: green;
    top: 37em;
    left: 14.5em;
    padding: 1em 1em;
    border-radius: 2em;
    border: none;

}


#startbutton:active{
    background-color: red;
    transition: 1.5s ease-out;
    transform: scale(2.0);
}


#doggybutton:active{
    background-color: red;
    transition: 1.5s ease-out;
    transform: scale(2.0);
}


#warning{
    color: red;
    margin-top: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#wait{
    color: orange;
    margin-left: 13em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#risk{
    color: red;
    margin-left: 10em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



@media screen and (min-width: 498px) and (max-height: 320px){

#game-container{
    top: 8em;
    left: auto;
    top: 0.1em;
    
}
     
.videos{
    width: 150%;
}

#startbutton{
    top: 3em;
    right: 11.7em;
    padding: 0.8em 0.8em;
}

#style1-button{
    top: 20em;
    left: 10em;
    padding: 0.4em 0.4em;
}

#style2-button{
    top: 16em;
    left: 10em;
    padding: 0.4em 0.4em;
}

#style3-button{
    top: 18em;
    left: 7em;
    padding: 0.4em 0.4em;
}

#style4-button{
    top: 18em;
    left: 13em;
    padding: 0.4em 0.4em;
}
}


@media screen and (min-width: 498px) and (max-height: 360px){

#game-container{
    top: 8em;
    left: auto;
    top: 0.1em;
    
}
     
.videos{
    width: 150%;
}

#startbutton{
    top: 3em;
    background-color: red;
    right: 11.7em;
    padding: 0.8em 0.8em;
}

#style1-button{
    top: 20em;
    left: 10em;
    padding: 0.4em 0.4em;
}

#style2-button{
    top: 16em;
    left: 10em;
    padding: 0.4em 0.4em;
}

#style3-button{
    top: 18em;
    left: 7em;
    padding: 0.4em 0.4em;
}

#style4-button{
    top: 18em;
    left: 13em;
    padding: 0.4em 0.4em;
}
}